.login {
    width: 960px;
    height: 560px;

    display: flex;

    margin: 70px auto;

    border-radius: 24px;
    overflow: hidden;

    background-color: white;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.login-image {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: #F2E0FC;
}

.image-placeholder {
    width: 360px;
    height: 360px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    border: 2px dashed #754ef9;

    color: #754ef9;
}

.login-message {
    margin-top: 24px;

    text-align: center;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    color: #9E52DB;
}

.login-form {
    width: 50%;
    height: 100%;

    padding: 50px;

    box-sizing: border-box;

    background-color: #ffffff;
}

.login-form h1 {
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 26px;
}

.form-group + .form-group {
    margin-top: 22px;
}

.form-group label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #1A1F38;
}

.form-group input {
    width: 400px;
    height: 46px;

    background-color: #FFFFFF;

    border: 1px solid #DBC9F0;
    border-radius: 11px;

    padding-left: 14px;
    padding-right: 26px;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: #666175;
}

.form-group input::placeholder {
    color: #666175;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.login-button {
    width: 400px;
    height: 46px;
    margin-top: 20px;
    background-color: #9E52DB;

    border: none;
    border-radius: 11px;
}