* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #e9e2fe,
        #F6ECFB
    );

    font-family: Arial, sans-serif;
}